.introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction__container {
    width: 460px;
}

.introduction h1 {
    font-size: 20px;
    line-height: 2.5;
}

.introduction p {
    margin: 1rem 0;
    line-height: 1.4;
}

.btn {
    padding: .5rem 1rem;    
    color: rgb(36, 38, 42);
}



.introduction__buttons {
    display: flex;
    gap: 1rem;
    margin: 3rem 0;
 
  
}

.introduction__social-media {
    display: flex;
}

.introduction__social-media__icon {
    background-color: rgb(239, 108, 0);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 1.5rem;
}