.menu {
    display: flex;
    list-style-type: none;
    box-shadow: 0px 1px 8px rgba(53, 52, 52, 0.7);
    width: 65%;
    justify-content: center;
    align-items: center;
    margin: -25px auto 0 auto;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}

.menu__item {
    padding: 1.5rem;
    margin-right: 3rem;
    cursor: pointer;
}

.menu__item:hover {
    color: rgb(239, 108, 0);
}

