.banner {
    background-image: url("https://images.unsplash.com/photo-1579403124614-197f69d8187b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640");
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
}

.banner img {
    height: 100%;
    margin-left: 55%;
}

.banner__info {
    color: rgb(213, 213, 213);
    width: 22%;
    position: absolute;
    top: 65%;
    left: 40%;
}

.banner__info__introduce {
    width: 100%;
    border-bottom: 1px solid rgb(213, 213, 213);
    font-size: 30px;
    text-shadow: 1px 1px 2px rgb(213, 213, 213);
}

.banner__info h1 {
    margin: 0;
    font-size: 50px;
    font-weight: normal;
    line-height: 1.6;
    letter-spacing: 2px;
    text-shadow: 1px 2px 2px rgb(213, 213, 213);
}

.banner__info p {
    text-shadow: 1px 1px 2px rgb(213, 213, 213);
}

